[mysqld]
# Configuration de base
user = mysql
bind-address = 0.0.0.0
port = 3306
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid

# Logs
log-error = /var/log/mysql/error.log

# Sécurité
skip-name-resolve
skip-host-cache

# Performance
innodb_buffer_pool_size = 128M
max_connections = 100

# Compatibilité
sql_mode = ""